<template>
  <section id="contactus" class="app-section app-section--primary">
    <div class="app-container">
      <div class="app-section__inner">
        <h2>Contact Us</h2>
        <div class="app-row">
          <div class="app-col">
            <form class="app-form" @submit.prevent="submit">
              <div class="app-form__item" :class="{ 'is-error': errors.has('name') }">
                <input type="text" v-model="form.name" v-validate="'required'" name="name">
                <label>Name</label>
              </div>
              <transition name="fade">
                <div class="app-form__error" v-if="errors.has('name')">{{ errors.first('name') }}</div>
              </transition>
              <div class="app-form__item" :class="{ 'is-error': errors.has('phone') }">
                <input type="tel" v-model="form.phone" v-validate="'required'" name="phone">
                <label>Phone</label>
              </div>
              <transition name="fade">
                <div class="app-form__error" v-if="errors.has('name')">{{ errors.first('phone') }}</div>
              </transition>
              <div class="app-form__item" :class="{ 'is-error': errors.has('email') }">
                <input type="email" v-model="form.email" v-validate="'required|email'" name="email">
                <label>Email</label>
              </div>
              <transition name="fade">
                <div class="app-form__error" v-if="errors.has('name')">{{ errors.first('email') }}</div>
              </transition>
              <div class="app-form__agree" :class="{ 'is-error': errors.has('agree') }">
                <input type="checkbox" v-model="form.agree" v-validate="'required'" name="agree">
                <label>I agree the processing of personal data</label>
                <transition name="fade">
                  <div class="app-form__error" v-if="errors.has('name')">{{ errors.first('agree') }}</div>
                </transition>
              </div>
              <div class="app-form__item">
                <button class="app-form__button" type="submit">Get in touch</button>
              </div>
            </form>
          </div>
          <div class="app-col">
            <p class="app-form__text-lead">
              Please tell us more about your request and give us info about your company and country
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        form: {
          name: '',
          phone: '',
          email: '',
          agree: false,
        }
      }
    },
    methods: {
      submit() {
        this.$validator.validateAll().then(async (result) => {
          if (result) {
            const { data } = await this.$axios.post('http://httpbin.org/post', { ...this.form })

            console.log(data)

            this.form = {
              name: '',
              phone: '',
              email: '',
              agree: false,
            }

            return;
          }
        });
      }
    }
  }
</script>

<style lang="scss">
  @include b(form) {
    @include e(item) {
      display: flex;
      label {
        order: -1;
        width: 100px;
      }

      input {
        outline: none;
        background: transparent;
        border: none;
        width: 100%;
      }

      input,
      input ~ label {
        border-bottom: 1px solid $color-border;
        height: 60px;
        line-height: 60px;
        font-size: $input-font-size;
      }

      input:focus,
      input:focus ~ label {
        color: $color-elegant;
        border-bottom: 1px solid $color-elegant;
      }

      &.is-error input, &.is-error label {
        border-bottom: 1px solid $color-danger;
      }
    }

    @include e(error) {
      color: $color-danger;
    }

    @include e(agree) {
      margin-top: 20px;
      margin-bottom: 40px;
      color: $color-elegant;
      font-size: $input-font-size;
      input {
        background: $color-elegant;
        margin-right: 20px;
      }
    }

    @include e(button) {
      border: 0;
      background: $color-secondary;
      color: $color-elegant;
      padding: 36px 90px;
      font-weight: 600;
      font-size: $xsmall-font-size;
      text-transform: uppercase;
    }

    @include e(text-lead) {
      font-size: $input-font-size;
      margin: 0 30px;
    }
  }
</style>
