<template>
  <section class="app-section">
    <div class="app-container">
      <div class="app-section__inner">
        <h1>Contacts</h1>
        <div class="app-row">
          <div class="app-col">
            <h2><span class="app-text--primary">GMS</span> Headquarters</h2>
            <div class="app-row">
              <div class="app-col">
                <address>
                  Global Message Services Ukraine LLC
                  Bundesstrasse 5 | 3rd Floor
                  6300 Zug
                  Switzerland
                </address>

                <div class="app-phone-number">
                  <a href="tel:+41415446200">+41 41 544 62 00</a>
                </div>
              </div>
              <div class="app-col">
                <dl>
                  <dt>Email</dt>
                  <dd><a href="mailto:info@gms-worldwide.com">info@gms-worldwide.com</a></dd>

                  <dt>Send message</dt>
                  <dd><a href="viber://pa?chatURI=account&text=hello">Viber us</a></dd>

                  <dt>Send form</dt>
                  <dd><a href="#contactus">Contact us</a></dd>
                </dl>
              </div>
            </div>
          </div>
          <div class="app-col">
            <h2>Technical support <span class="app-text--primary">24/7</span></h2>
            <p>
              GMS understands that it can be hard to follow all new technologies. We regularly provide for all our clients
              educational trainings to make your operator`s business earn more and better though our best practices.
            </p>
            <div class="app-phone-number">
              <a href="tel:+41415446200">+41 41 544 62 00</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {}
</script>

<style lang="scss">
  @include b(phone-number) {
    margin-top: 40px;
    a {
      color: $color-primary;
      font-size: $medium-font-size;
      text-decoration: none;
    }
  }
</style>
