<template>
  <section class="app-section app-section-map app-section--secondary">
    <div class="app-container">
      <div class="app-row">
        <div class="app-col">
          <div class="app-section__inner">
            <h2>Our Offices</h2>
            <ul class="app-tabs">
              <li v-for="(tab, index) in tabs" :key="index" :class="{'is-active': isActiveTab(index)}" @click="activeTab = index">{{tab.title}}</li>
            </ul>

            <ul class="app-tabs-content">
              <li v-for="(tab, index) in tabs" :key="index" v-show="isActiveTab(index)">
                <h3>{{tab.content}}</h3>
                <address>{{tab.address}}</address>
              </li>
            </ul>
          </div>
        </div>
        <div class="app-col">
          <div class="app-map">
            <img  :src="map" alt="">
            <div class="app-map__marker"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    data() {
      return {
        activeTab: 0,
        tabs: [
          {
            title: 'Kiev',
            address: 'Kiev, Stepan Bandera 33, Ukraine',
            content: 'Global Message Services Ukraine LLC',
          },
          {
            title: 'New York',
            address: 'New York, USA',
            content: 'Global Message Services USA LLC',
          },
          {
            title: 'Guangzhou',
            address: 'Guangzhou, 33 02066 China',
            content: 'Global Message Services China LLC',
          },
          {
            title: 'Barcelona',
            address: 'Barcelona, 33 02066 Spain',
            content: 'Global Message Services Spain LLC',
          },
        ]
      }
    },
    computed: {
      map() {
        const currentTab = this.tabs[this.activeTab]
        const apiKey = 'AIzaSyDWL28-O95Se1QJYzUrDX-lHq2EiOxngI8'
        const address = currentTab.address

        return `https://maps.googleapis.com/maps/api/staticmap?key=${apiKey}&center=${address}&zoom=12&format=png&maptype=roadmap&style=element:geometry%7Ccolor:0x212121&style=element:labels.icon%7Cvisibility:off&style=element:labels.text.fill%7Ccolor:0x757575&style=element:labels.text.stroke%7Ccolor:0x212121&style=feature:administrative%7Celement:geometry%7Ccolor:0x757575&style=feature:administrative.country%7Celement:labels.text.fill%7Ccolor:0x9e9e9e&style=feature:administrative.land_parcel%7Cvisibility:off&style=feature:administrative.locality%7Celement:labels.text.fill%7Ccolor:0xbdbdbd&style=feature:poi%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:poi.park%7Celement:geometry%7Ccolor:0x181818&style=feature:poi.park%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:poi.park%7Celement:labels.text.stroke%7Ccolor:0x1b1b1b&style=feature:road%7Celement:geometry.fill%7Ccolor:0x2c2c2c&style=feature:road%7Celement:labels.text.fill%7Ccolor:0x8a8a8a&style=feature:road.arterial%7Celement:geometry%7Ccolor:0x373737&style=feature:road.highway%7Celement:geometry%7Ccolor:0x3c3c3c&style=feature:road.highway.controlled_access%7Celement:geometry%7Ccolor:0x4e4e4e&style=feature:road.local%7Celement:labels.text.fill%7Ccolor:0x616161&style=feature:transit%7Celement:labels.text.fill%7Ccolor:0x757575&style=feature:water%7Celement:geometry%7Ccolor:0x000000&style=feature:water%7Celement:labels.text.fill%7Ccolor:0x3d3d3d&size=1000x500`.replace(' ', '')
      }
    },
    methods: {
      isActiveTab(tab) {
        return tab === this.activeTab
      }
    }
  }
</script>

<style lang="scss">
  @include b(section-map) {
    max-height: 500px;
    address {
      margin-top: 36px;
      color: $color-elegant;
      font-size: $xsmall-font-size;
      line-height: 1.82;
    }
  }

  @include b(map) {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      max-height: 500px;
      object-fit: cover;
    }

    @include e(marker) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: $color-primary;
      width: 34px;
      height: 34px;
    }
  }

  @include b(tabs) {
    display: flex;
    margin-bottom: 50px;
    li {
      font-size: $xsmall-font-size;
      text-transform: uppercase;
      font-weight: 600;
      margin-right: 40px;
      @include when(active) {
        color: $color-primary;
      }
    }
  }
</style>
