<template>
  <div>
    <nuxt/>
  </div>
</template>

<style lang="scss">
  @font-face {
    font-family: 'SuisseIntl';
    src: local('SuisseIntl'), local('SuisseIntl-Light'), url('~assets/fonts/SuisseIntl-Light.woff2') format('woff2'), url('~assets/fonts/SuisseIntl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuisseIntl';
    src: local('SuisseIntl'), url('~assets/fonts/SuisseIntl.woff2') format('woff2'), url('~assets/fonts/SuisseIntl.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'SuisseIntl';
    src: local('SuisseIntl'), local('SuisseIntl-SemiBold'), url('~assets/fonts/SuisseIntl-SemiBold.woff2') format('woff2'), url('~assets/fonts/SuisseIntl-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
  }

  body {
    font-family: "SuisseIntl", sans-serif;
    font-weight: 300;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  section {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0;
  }

  h1 {
    font-size: $xlarge-font-size;
    margin-bottom: 50px;
  }

  h2 {
    font-size: $large-font-size;
    margin-bottom: 50px;
  }

  h3 {
    font-size: $medium-font-size;
  }


  dl {
    margin: 0;
    padding: 0;
    line-height: 1.87;
    color: $color-secondary;
  }

  dd {
    margin: 0;
    color: $color-primary;
    text-transform: uppercase;
    font-weight: 600;
    a {
      color: $color-primary;
      text-decoration: none;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  address {
    font-style: normal;
    line-height: 1.87;
    color: $color-secondary;
  }

  p {
    margin: 0;
    padding: 0;
    line-height: 1.87;
    color: $color-secondary;
  }

  @include b(container) {
    width: 1280px;
    margin: 0 auto;
  }

  @include b(section) {
    min-height: 500px;
    @include e(inner) {
      padding: 100px 30px;
    }
    @include m(secondary) {
      background-color: $color-secondary;
      color: $color-elegant;
    }
    @include m(primary) {
      background-color: $color-primary;

      h2 {
        color: $color-elegant;
      }
    }
  }

  @include b(row) {
    display: flex;
  }

  @include b(col) {
    width: 50%;
  }

  @include b(text) {
    @include m(primary) {
      color: $color-primary;
    }
  }


  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
