<template>
  <div>
    <section-info/>
    <section-map/>
    <section-contact-us/>
  </div>
</template>

<script>
  import SectionInfo from '@/components/Info'
  import SectionMap from '@/components/Map'
  import SectionContactUs from '@/components/ContactUs'

  export default {
    components: {
      SectionInfo,
      SectionMap,
      SectionContactUs
    }
  }
</script>

<style lang="scss">

</style>
