$base-font-size: 15px;
$xsmall-font-size: 0.733em;
$small-font-size: 0.933em;
$medium-font-size: 1.733em;
$large-font-size: 2.267em;
$xlarge-font-size: 3.333em;
$input-font-size: 1.2em;

$color-base: #333;
$color-elegant: #fff;
$color-primary: #3db565;
$color-secondary: #262626;
$color-border: #040707;
$color-danger: red;
